div(ng-include='"components/navbar/navbar.html"')
random-bg(path='../../assets/images')

.container.main
  h1 {{campaign.name}}
  .row
    .col-sm-4
      h3 Summary
    .col-sm-8
      ul.progress-container
        li.progress.circle(ng-repeat='track in tracks', ng-class='{"hero" : track.winner == "Rebel Alliance" , "empire" : track.winner == "Empire" }')
          span.progress-inner {{$index + 1}}
    .col-sm-4
      h4 Empire
      .row
        .col-sm-12
          span.glyphicon.glyphicon-user.glyphicon-left
          span {{campaign.imperialPlayer.firstName}}
    .col-sm-8
      h4 Rebel Alliance
      .row
        .col-sm-6(ng-repeat='rebel in campaign.rebelPlayers')
          .row
            .col-sm-12
              span.glyphicon.glyphicon-user.glyphicon-left
              span {{rebel.hero}}
                small  ({{rebel.firstName}})
    .col-sm-4
      h5
        span.glyphicon.glyphicon-time.glyphicon-left
        span {{campaign.timeSpent.hours}}h {{campaign.timeSpent.minutes}}min
    .col-sm-4
      h5
        span.glyphicon.glyphicon-calendar.glyphicon-left
        span {{campaign.startDate | date : 'dd.MM.yyyy'}}
    .col-sm-4
      h5
        span.glyphicon.glyphicon-star.glyphicon-left
        span {{campaign.winner | emptyPlaceholder }}



  .row
    .col-sm-12
      mc-messages
  .row
    .col-md-12
      button.btn.btn-link(ng-click='backToCampaignList()')
        span.glyphicon.glyphicon-chevron-left.glyphicon-left
        | Back to campains' list
  .list-group
    .list-group-item.mission(ng-repeat='track in tracks', ng-class='{"hero" : track.winner == "Rebel Alliance" , "empire" : track.winner == "Empire" }')
      div(ng-show='!track.isEdited')
        .row
          .col-sm-9
            h4.title
              small(ng-class='{"underline" : track.mission.missionType.indexOf("Story") >= 0, "underline strong" : track.mission.missionType.indexOf("Finale") >= 0}') {{track.mission.missionType}}
              span.strong  {{track.mission.title}}
            h6
              span.glyphicon.glyphicon-calendar.glyphicon-left
              span {{track.playDate | date : 'dd.MM.yyyy'}}
          .col-sm-3.text-right
            button.btn.btn-link(ng-show='!campaign.winner', ng-click='editTrack(track)')
              h4.glyphicon.glyphicon-edit
            button.btn.btn-link(ng-click='track.isCollapsed = !track.isCollapsed')
              h4.glyphicon.glyphicon-chevron-down(ng-show='track.isCollapsed')
              h4.glyphicon.glyphicon-chevron-up(ng-show='!track.isCollapsed')
        div(collapse='track.isCollapsed')
          .row
            .col-md-4
              h4 Imperial statistics
              p Influence: {{track.imperialStats.influence}}
            .col-md-8
              h4 Rebel statistics
              p Credits: {{track.rebelStats.credits}}
              div(ng-repeat='user in track.rebelStats.users')
                .row
                  .col-md-4
                    span.glyphicon.glyphicon-user.glyphicon-left
                    span {{user.hero}}
                      small  ({{user.name}})
                  .col-md-4
                    span.glyphicon.glyphicon-flag.glyphicon-left
                    span
                      small exp
                      |  {{user.exp}}
            .col-md-12
              h4 Global statistics
              .row
                .col-sm-4
                  p
                    span.glyphicon.glyphicon-time.glyphicon-left
                    span {{track.timeSpent.hours}}h {{track.timeSpent.minutes}}min
                .col-sm-4
                  p
                    span.glyphicon.glyphicon-star.glyphicon-left
                    span {{track.winner}}
      div(ng-show='track.isEdited')
        form.form-horizontal(name='newTrackForm', ng-submit='newTrackForm.$valid && saveTrack(track)')
          .form-group
            label.col-md-3 Mission name
            .col-md-9
              selectize(config='missionsConfig', options='missions', ng-model='track.mission._id')
          .form-group
            label.col-md-3 Imperial statistics (influence)
            .col-md-9
              input.form-control(type='number', min='0', ng-model='track.imperialStats.influence', required)
          .form-group
            label.col-md-3 Rebel statistics (credits)
            .col-md-9
              input.form-control(type='number', min='0', ng-model='track.rebelStats.credits', required)
          .form-group(ng-repeat='rebel in track.rebelStats.users')
            label.col-md-3 Rebel player
            .col-md-4
              p.form-control-static(ng-model='rebel.name') {{rebel.hero}} ({{rebel.name}})
            label.col-md-1 exp
            .col-md-4
              input.form-control(type='number', min='0', ng-model='rebel.exp', required)
          .form-group
            label.col-md-3 Available missions
            .col-md-9
              selectize(config='availableMissionsConfig', options='missions', ng-model='track.availableSideMissions')
              //input.form-control(type='text', ng-model='track.availableSideMissions')
          .form-group
            label.col-md-3 Time spent
            .col-md-3
              .input-group
                input.form-control(type='number', min='0', ng-model='track.timeSpent.hours', required)
                .input-group-addon h
            .col-md-3
              .input-group
                input.form-control(type='number', min='0', max='59', ng-model='track.timeSpent.minutes', required)
                .input-group-addon min
          .form-group
            label.col-md-3 Winner
            .col-md-9
              selectize(config='winnersConfig', options='winners', ng-model='track.winner')
              //select(ng-model='track.winner', ng-options='winner for winner in winners', class='form-control', required)
          .form-group
            .col-md-6
              input.btn.btn-default.btn-block.pull-left(type='button', value='Cancel', ng-click='removeTrack(track, $index)')
            .col-md-6
              input.btn.btn-success.btn-block.pull-right(type='submit', value='Save mission')

    .btn-row(ng-show='!campaign.winner')
      .col-md-6
        button.btn.btn-lg.btn-info.btn-block(ng-click='endCampaign()') End Campaign
      .col-md-6(ng-show='canAdd')
         button.btn.btn-lg.btn-warning.btn-block(ng-click='addTrack()')
           span.glyphicon.glyphicon-plus
           | Add Mission



div(ng-include='"components/static/footer.html"')
