.selectize-dropdown{
  [data-selectable]{
    .title{
      font-size: 1.2em;
      display: inline-block;
      width: 100%;
      font-weight: bold;
    }
    .type, .deckType {
      display: inline-block;
      width: 50%;
      float: left;
    }
  }
}

.mission{
  background-size: 280px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;

&.hero{
  .title{
    color: lighten($brand-danger, 15);
  }
  background-color: transparentize($brand-danger, 0.85);
  background-image: url("../assets/images/rebel-bgless.png");
}
&.empire{
  .title{
    color: lighten($brand-primary, 15);
  }
  background-color: transparentize($brand-primary, 0.85);
  background-image: url("../assets/images/empire-bgless.png");
}
}
