$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

//@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../components/custom-bootstrap/custom-bootstrap.scss';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.btn-row{
  margin-top: 15px;
}

.bg, .bg-alt{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  img{
    width: 100%;
    min-height: 100%;
  }
}
*:focus, *:active:focus{
  outline-color: $outline-color;
  outline-style: solid;
}


.container.main{
  padding-bottom: $footer-height;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;
  padding-top: 10px;
  z-index: 100;
}

.ui-view-container.animating{
  overflow: hidden;
}
[ui-view]{
  height: 100%;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'campaigns/campaign/campaign.scss';
@import 'campaigns/my-campaigns/my-campaigns.scss';
@import 'campaigns/new-campaign/new-campaign.scss';
@import 'main/main.scss';
// endinjector
