$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

//@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../components/custom-bootstrap/custom-bootstrap.scss';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.btn-row{
  margin-top: 15px;
  margin-left: -($grid-gutter-width / 2);
  margin-right: -($grid-gutter-width / 2);
}

.bg, .bg-alt{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;

  img{
    width: 100%;
    min-height: 100%;
  }
}
*:focus, *:active:focus{
  outline-color: $outline-color;
  outline-style: solid;
}


.container.main{
  padding-bottom: $footer-height + 25px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-color;
  padding-top: 10px;
  z-index: 100;
}

// Animate
.ui-view-container.animating{
  overflow: hidden;
}
[ui-view]{
  height: 100%;
}

// typo
.strong {
  font-weight: bold;
}

.underline {
  border-bottom: 1px solid;
}

.mission {
  background-size: 280px auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &.hero {
    h4.title {
      color: lighten($brand-danger, 15);
    }
    background-color: transparentize($brand-danger, 0.85);
    background-image: url("../assets/images/rebel-bgless.png");
  }
  &.empire {
    h4.title {
      color: lighten($brand-primary, 15);
    }
    background-color: transparentize($brand-primary, 0.85);
    background-image: url("../assets/images/empire-bgless.png");
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'campaigns/campaign/campaign.scss';
@import 'campaigns/end-campaign/end-campaign.scss';
@import 'campaigns/my-campaigns/my-campaigns.scss';
@import 'campaigns/new-campaign/new-campaign.scss';
@import 'main/main.scss';
// endinjector
