#main
  .bg
    img(src='../../assets/images/bg-main.jpg')
  .container
    ul.nav.navbar-nav.navbar-right(ng-controller='NavbarCtrl')
      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/settings")}')
        a(ui-sref='settings')
          span.glyphicon.glyphicon-cog
      li(ng-show='isLoggedIn()', ng-class='{active: isActive("/logout")}')
        a(href='', ng-click='logout()')
          span.glyphicon.glyphicon-off


    #logo
      img(src='../../assets/images/logo-lg.png')
    .btns-wrapper.container
      .btns(ng-show='isLogged')
        a.btn.btn-xl.btn-danger.btn-block(ui-sref='new-campaign') New campaign
        a.btn.btn-xl.btn-primary.btn-block(ui-sref='my-campaigns') My campaigns
      .btns(ng-show='!isLogged')
        a.btn.btn-xl.btn-danger.btn-block(ui-sref='login') Login
        a.btn.btn-xl.btn-primary.btn-block(ui-sref='signup') Sign up
