div(ng-include='"components/navbar/navbar.html"')
random-bg(path='../../assets/images')

.container
  .row
    .col-sm-12
      h1 Sign up
    .col-sm-12
      form.form(name='form', ng-submit='register(form)', novalidate='')
        .form-group(ng-class='{ "has-success": form.name.$valid && submitted,\
        "has-error": form.name.$invalid && submitted }')
          label Login
          input.form-control(type='text', name='login', ng-model='user.login', required='')
          p.help-block(ng-show='form.name.$error.required && submitted')
            | A name is required

        .form-group(ng-class='{ "has-success": form.password.$valid && submitted,\
        "has-error": form.password.$invalid && submitted }')
          label Password
          input.form-control(type='password', name='password', ng-model='user.password', ng-minlength='3', required='', mongoose-error='')
          p.help-block(ng-show='(form.password.$error.minlength || form.password.$error.required) && submitted')
            | Password must be at least 3 characters.
          p.help-block(ng-show='form.password.$error.mongoose')
            | {{ errors.password }}

        div
          button.btn.btn-success.btn-lg.pull-right(type='submit')
            | Sign up
          a.btn.btn-warning.btn-lg.pull-left(href='/login')
            | Login

  hr
