div(ng-include='"components/navbar/navbar.html"')
random-bg(path='../../assets/images')
.container.main
  .row
    .col-sm-12
      button.btn.btn-link(ng-click='backToMainPage()')
        span.glyphicon.glyphicon-chevron-left
        | Back to main page
  .list-group
    .list-group-item(ng-repeat='campaign in campaigns')
      .row
        .col-sm-9
          h4 {{campaign.name}}
          h6 {{campaign.startDate | date : 'dd.MM.yyyy'}}
        .col-sm-3.text-right
          button.btn.btn-link(ng-show='campaign.canEdit', ng-click='editCampaign(campaign)')
            h4.glyphicon.glyphicon-edit
          button.btn.btn-link(ng-click='campaign.isCollapsed = !campaign.isCollapsed')
            h4.glyphicon.glyphicon-chevron-down(ng-show='campaign.isCollapsed')
            h4.glyphicon.glyphicon-chevron-up(ng-show='!campaign.isCollapsed')
      div(collapse='campaign.isCollapsed')
        .row
          .col-sm-4
            h4 Empire
            span Player name: {{campaign.imperialPlayer.firstName}} {{campaign.imperialPlayer.lastName}}
          .col-sm-8
            h4 Rebel Alliance
            .row
              .col-sm-12(ng-repeat='rebel in campaign.rebelPlayers')
                .row
                  .col-sm-6 Player name: {{rebel.firstName}} {{rebel.lastName}}
                  .col-sm-6 Hero: {{rebel.hero}}
          .col-sm-12
            span Time spent: {{campaign.timeSpent.hours}}h {{campaign.timeSpent.minutes}}min
          .col-sm-12
            span Winner: {{campaign.winner}}

div(ng-include='"components/static/footer.html"')
